In [1]:
import pandas as pd
import requests
pd.set_option("display.max_columns", None)
import time
import numpy as np

In [2]:
test_url = 'https://stats.nba.com/stats/leagueLeaders?LeagueID=00&PerMode=Totals&Scope=S&Season=2021-22&SeasonType=Regular%20Season&StatCategory=PTS'

In [3]:
r = requests.get(url = test_url).json()

In [4]:
table_headers = r['resultSet']['headers']

In [5]:
df1 = pd.DataFrame(r['resultSet']['rowSet'], columns= table_headers)
df2 = pd.DataFrame({'Year' : ['2021-22' for i in range(len(df1))],
                    'Season' : ['Regular%20Season' for i in range(len(df1))]})
df3 = pd.concat([df2, df1], axis = 1)

In [6]:
del df1, df2, df3

In [7]:
df_col = ['Year', 'Season_type'] + table_headers

In [8]:
headers = {
    'Accept': '*/*',
    'Accept-Encoding': 'gzip, deflate, br',
    'Accept-Language': 'en-US,en;q=0.9,ko;q=0.8',
    'Connection': 'keep-alive',
    'Host': 'stats.nba.com',
    'Origin': 'https://www.nba.com',
    'Referer': 'https://www.nba.com/',
    'Sec-Ch-Ua': '"Google Chrome";v="117", "Not;A=Brand";v="8", "Chromium";v="117"',
    'Sec-Ch-Ua-Mobile': '?0',
    'Sec-Ch-Ua-Platform': '"macOS"',
    'Sec-Fetch-Dest': 'empty',
    'Sec-Fetch-Mode': 'cors',
    'Sec-Fetch-Site': 'same-site',
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/117.0.0.0 Safari/537.36'
}

In [9]:
pd.DataFrame(columns=df_col)

Empty DataFrame
Columns: [Year, Season_type, PLAYER_ID, RANK, PLAYER, TEAM_ID, TEAM, GP, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PTS, EFF, AST_TOV, STL_TOV]
Index: []

In [10]:
df = pd.DataFrame(columns = df_col)
season_types = ['Regular%20Season', 'Playoffs']
years = ['2021-22', '2022-23', '2023-24']

for y in years:
  for s in season_types:
    api_url = 'https://stats.nba.com/stats/leagueLeaders?LeagueID=00&PerMode=Totals&Scope=S&Season='+y+'&SeasonType='+s+'&StatCategory=PTS'
    r = requests.get(url = api_url, headers = headers).json()
    df1 = pd.DataFrame(r['resultSet']['rowSet'], columns= table_headers)
    df2 = pd.DataFrame({'Year' : [y for i in range(len(df1))],
                        'Season_type' : [s for i in range(len(df1))]})
    df3 = pd.concat([df2, df1], axis = 1)
    df = pd.concat([df, df3], axis = 0)

    lag = np.random.uniform(low = 5, high = 40)
    time.sleep(lag)

df.to_csv('nba_player_data.csv', index = False)