In [1]:
import pandas as pd
import requests
pd.set_option("display.max_columns", None)
import time
import numpy as np

In [2]:
test_url = 'https://stats.nba.com/stats/leagueLeaders?LeagueID=00&PerMode=Totals&Scope=S&Season=2021-22&SeasonType=Regular%20Season&StatCategory=PTS'

In [3]:
r = requests.get(url = test_url).json()

In [7]:
table_headers = r['resultSet']['headers']

In [11]:
df1 = pd.DataFrame(r['resultSet']['rowSet'], columns= table_headers)
df2 = pd.DataFrame({'Year' : ['2021-22' for i in range(len(df1))],
                    'Season' : ['Regular%20Season' for i in range(len(df1))]})
df3 = pd.concat([df2, df1], axis = 1)

In [12]:
df3

,Year,Season,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
0,2021-22,Regular%20Season,1629027,1,Trae Young,1610612737,ATL,76,2652,711,1544,0.460,233,610,0.382,500,553,0.904,50,234,284,737,72,7,303,128,2155,2066,2.43,0.24
1,2021-22,Regular%20Season,201942,2,DeMar DeRozan,1610612741,CHI,76,2743,774,1535,0.504,50,142,0.352,520,593,0.877,56,336,392,374,68,24,181,178,2118,1961,2.07,0.38
2,2021-22,Regular%20Season,203954,3,Joel Embiid,1610612755,PHI,68,2296,666,1334,0.499,93,251,0.371,654,803,0.814,146,650,796,284,77,99,214,181,2079,2304,1.33,0.36
3,2021-22,Regular%20Season,1628369,4,Jayson Tatum,1610612738,BOS,76,2731,708,1564,0.453,230,651,0.353,400,469,0.853,85,524,609,334,75,49,217,174,2046,1971,1.54,0.35
4,2021-22,Regular%20Season,203999,5,Nikola Jokic,1610612743,DEN,74,2476,764,1311,0.583,97,288,0.337,379,468,0.810,206,813,1019,584,109,63,281,191,2004,2862,2.08,0.39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
600,2021-22,Regular%20Season,1630207,582,Nate Hinton,1610612754,IND,2,2,0,1,0.000,0,0,0.000,0,0,0.000,0,0,0,0,0,0,1,0,0,-2,0.00,0.00
601,2021-22,Regular%20Season,1626155,582,Sam Dekker,1610612761,TOR,1,1,0,0,0.000,0,0,0.000,0,0,0.000,0,0,0,0,0,0,0,0,0,0,0.00,0.00
602,2021-22,Regular%20Season,1629309,582,Trayvon Palmer,1610612765,DET,1,17,0,1,0.000,0,0,0.000,0,0,0.000,0,2,2,0,0,0,1,2,0,0,0.00,0.00
603,2021-22,Regular%20Season,1629788,582,Tyler Hall,1610612752,NYK,1,2,0,0,0.000,0,0,0.000,0,0,0.000,0,0,0,0,0,0,0,0,0,0,0.00,0.00
604,2021-22,Regular%20Season,1629597,582,Zylan Cheatham,1610612762,UTA,1,5,0,3,0.000,0,2,0.000,0,0,0.000,0,0,0,0,0,0,0,0,0,-3,0.00,0.00

In [13]:
del df1, df2, df3

In [15]:
df_col = ['Year', 'Season_type'] + table_headers

In [19]:
headers = {
    'Accept': '*/*',
    'Accept-Encoding': 'gzip, deflate, br',
    'Accept-Language': 'en-US,en;q=0.9,ko;q=0.8',
    'Connection': 'keep-alive',
    'Host': 'stats.nba.com',
    'Origin': 'https://www.nba.com',
    'Referer': 'https://www.nba.com/',
    'Sec-Ch-Ua': '"Google Chrome";v="117", "Not;A=Brand";v="8", "Chromium";v="117"',
    'Sec-Ch-Ua-Mobile': '?0',
    'Sec-Ch-Ua-Platform': '"macOS"',
    'Sec-Fetch-Dest': 'empty',
    'Sec-Fetch-Mode': 'cors',
    'Sec-Fetch-Site': 'same-site',
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/117.0.0.0 Safari/537.36'
}

In [16]:
pd.DataFrame(columns=df_col)

Empty DataFrame
Columns: [Year, Season_type, PLAYER_ID, RANK, PLAYER, TEAM_ID, TEAM, GP, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PTS, EFF, AST_TOV, STL_TOV]
Index: []

In [23]:
df = pd.DataFrame(columns = df_col)
season_types = ['Regular%20Season', 'Playoffs']
years = ['2021-22', '2022-23', '2023-24']

for y in years:
  for s in season_types:
    api_url = 'https://stats.nba.com/stats/leagueLeaders?LeagueID=00&PerMode=Totals&Scope=S&Season='+y+'&SeasonType='+s+'&StatCategory=PTS'
    r = requests.get(url = api_url, headers = headers).json()
    df1 = pd.DataFrame(r['resultSet']['rowSet'], columns= table_headers)
    df2 = pd.DataFrame({'Year' : [y for i in range(len(df1))],
                        'Season_type' : [s for i in range(len(df1))]})
    df3 = pd.concat([df2, df1], axis = 1)
    df = pd.concat([df, df3], axis = 0)

    lag = np.random.uniform(low = 5, high = 40)
    time.sleep(lag)

df.to_csv('nba_player_data.csv', index = False)